<!DOCTYPE html>
<html>
<head>
  <title>Watsi See</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script type="text/javascript">
    function refreshData() {
      console.log('refreshing...')
      $.post('/refresh', function() {
        console.log('done!')
      });
    }
  </script>

  <script type="text/javascript">
    // gives us objects with daysToFund and cost.
    // TODO do something cool with this.
    function makeCool() {
      var days = d3.selectAll('.days')[0];
      var objects = days.map(function(day) {
        day = $(day);

        var obj = {};
        obj.days = day.text();
        obj.cost = parseFloat(day.parent().children('.cost').text().slice(1).replace(/,/g,""));
        return obj;
      });

      window.myObjects = objects;
    }

    $(document).ready(function() {
      makeCool();
    })
  </script>
</head>
<body>
  <h1>Watsi See</h1>
  {{{body}}}
</body>
</html>