<!DOCTYPE html>
<html>
<head>
  <title>Watsi See</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script type="text/javascript">
    function refreshData() {
      console.log('refreshing...')
      $.post('/refresh', function() {
        console.log('done!')
      });
    }
  </script>
</head>
<body>
  <h1>Watsi See</h1>
  {{{body}}}
</body>
</html>