<table border='1' cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Country</th>
      <th>Num of Patients</th>
    </tr>
  </thead>
  <tbody>
    {{#each countries}}
    <tr>
      <td>{{this.[0]}}</td>
      <td>{{this.[1].length}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>